.custom-bg {
    background-color: #68983B;
}

.custom-text {
    color: #68983B;
    font-size: 90px;
}

.bg-image-custom {
    position: relative;
    overflow: hidden; /* Mencegah elemen anak keluar */
    border-radius: 15px; /* Efek rounded */
    width: auto; /* Pastikan kolom menyesuaikan lebar layar */
    height: auto; /* Memastikan tinggi mengikuti konten */
    min-height: 250px; /* Atur tinggi minimal untuk tampilan mobile */
}

.mask-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: inherit; /* Ikuti bentuk rounded dari parent */
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border-bottom: 5px solid #68983B;
    margin-top: 5px;
    width: 150px;
    border-radius: 150px;
}

.custom-nav .nav-link {
    color: white !important;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.custom-nav .nav-link:hover {
    color: #3E8E41 !important;
}

.dropdown-menu-custom {
    background-color: #68983B !important; /* Samakan warna dengan navbar */
    width: 100%;
    border: none;
}

.dropdown-menu-custom .dropdown-item {
    color: white !important;
}

.dropdown-menu-custom .dropdown-item:hover {
    color: #3E8E41 !important;
    background-color: #68983B !important;
}

.custom-dropdown-icon {
    margin-left: 8px;
    font-size: 0.7em;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.logo {
    width: auto;
    height: 150px;
}

@media (max-width: 767px) {
    .custom-dropdown-icon {
        display: inline-block;
    }

    .custom-dropdown .dropdown-menu {
        display: none;
    }

    .logo {
        height: 100px;
    }

    .bg-image-custom {
        border-radius: 10px; /* Sesuaikan efek rounded untuk mobile */
        height: auto; /* Pastikan tinggi fleksibel */
    }

    .mask-custom {
        padding: 20px; /* Tambahkan lebih banyak padding untuk kenyamanan */
    }
}

@media (min-width: 768px) {
    .custom-dropdown-icon {
        display: none !important;
    }

    .custom-dropdown:hover .dropdown-menu {
        display: block;
    }
}